
.top-bar-title {
    flex: 1;
}

.top-bar {
    background: transparent !important;
    box-shadow: none !important;
}

.top-bar a {
    color: white;
}

.top-bar a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
}

.top-bar-header {
    justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
    .top-bar-header {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .top-bar-title {
        display: none !important;
    }
}

